PORT=5001
WHATSAPP_NUMBER=
VONAGE_API_KEY=
VONAGE_API_SECRET=
TO_NUMBER=
VONAGE_APPLICATION_ID=
VONAGE_APPLICATION_PRIVATE_KEY_PATH=./private.key
WHATSAPP_NUMBER=
WHATSAPP_TEMPLATE_NAMESPACE=
WHATSAPP_TEMPLATE_NAME=
